In [140]:
import pandas as pd 
import numpy as np

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [141]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [142]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [143]:
def clean_data(data):
    data['Fare'] = data['Fare'].fillna(data['Fare'].dropna().median())
    data['Age'] =  data['Age'].fillna(data['Age'].dropna().median())
    data.drop('Cabin', axis=1, inplace=True)
    data['Embarked'] = data['Embarked'].fillna('S')

In [144]:
clean_data(train)
clean_data(test)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [145]:
def Add_FamilySize(data):
    data['FamilySize'] = data['SibSp'] + data['Parch'] + 1

In [146]:
def Replace_fare(data):
    data['Fare'] = pd.cut(x = data['Fare'], bins=[0, 7.91, 14.54, 31, 99, 250, 1000], labels=['Very_Cheap', 'Cheap', 'Moderate', 'Costly', 'Expensive', 'Very_Expensive'])
    data['Fare'] = data['Fare'].fillna('Very_Cheap')

In [147]:
def Replace_Name(data):
    data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

    data['Title'] = data['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev','Sir', 'Jonkheer', 'Dona'], 'Rare')

    data['Title'] = data['Title'].replace('Mlle', 'Miss')
    data['Title'] = data['Title'].replace('Ms', 'Miss')
    data['Title'] = data['Title'].replace('Mme', 'Mrs')

In [148]:
def Replace_Age(data):
    data['Age_Range'] = pd.cut(data['Age'], bins=[0,16,32,48,75,120], labels=['Children','Twenties','Grownups','Adult','Elder'])

In [149]:
def Replace_Pclass(data):
    data['Pclass'] = data['Pclass'].replace(1, 'First')
    data['Pclass'] = data['Pclass'].replace(2, 'Second')
    data['Pclass'] = data['Pclass'].replace(3, 'Third')

In [150]:
def Feature_engineering(data):
    Add_FamilySize(data)
    Replace_fare(data)
    Replace_Name(data)
    Replace_Age(data)
    Replace_Pclass(data)

    return data.info()

In [151]:
Feature_engineering(train)
Feature_engineering(test)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    object
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    category
 10  Embarked     891 non-null    object
 11  FamilySize   891 non-null    int64
 12  Title        891 non-null    object
 13  Age_Range    891 non-null    category
dtypes: category(2), float64(1), int64(5), object(6)
memory usage: 85.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    object
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    category
 9   Embarked     418 non-null    object
 10  FamilySize   418 non-null    int64
 11  Title        418 non-null    object
 12  Age_Range    418 non-null    category
dtypes: category(2), float64(1), int64(4), object(6)
memory usage: 37.3+ KB

In [152]:
train[train['Fare'].isnull()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Embarked, FamilySize, Title, Age_Range]
Index: []

from sklearn.preprocessing import LabelEncoder
  
le = LabelEncoder()

def encode(data):  
    data['Pclass']= le.fit_transform(data['Pclass'])
    data['Sex']= le.fit_transform(data['Sex'])
    data['Fare']= le.fit_transform(data['Fare'])
    data['Embarked']= le.fit_transform(data['Embarked'])
    data['FamilySize']= le.fit_transform(data['FamilySize'])
    data['Title']= le.fit_transform(data['Title'])
    data['Age_Range']= le.fit_transform(data['Age_Range'])

encode(train)
encode(test)
train.head()

In [153]:
train = pd.get_dummies(train, columns=['Pclass', 'Sex', 'Fare', 'Embarked', 'Title', 'Age_Range'], prefix=['Pclass', 'Sex', 'Fare', 'Embarked', 'Title', 'Age_Range'])
test = pd.get_dummies(test,columns=['Pclass', 'Sex', 'Fare', 'Embarked', 'Title', 'Age_Range'], prefix=['Pclass', 'Sex', 'Fare', 'Embarked', 'Title', 'Age_Range'])

In [154]:
Y_train = train['Survived']

In [155]:
train.drop(['Survived','PassengerId','Ticket','Age','Name'], axis=1, inplace=True)
test.drop(['Ticket','Age','Name'], axis=1, inplace=True)

In [156]:
test.keys()

Index(['PassengerId', 'SibSp', 'Parch', 'FamilySize', 'Pclass_First',
       'Pclass_Second', 'Pclass_Third', 'Sex_female', 'Sex_male',
       'Fare_Very_Cheap', 'Fare_Cheap', 'Fare_Moderate', 'Fare_Costly',
       'Fare_Expensive', 'Fare_Very_Expensive', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Title_Master', 'Title_Miss', 'Title_Mr', 'Title_Mrs',
       'Title_Rare', 'Age_Range_Children', 'Age_Range_Twenties',
       'Age_Range_Grownups', 'Age_Range_Adult', 'Age_Range_Elder'],
      dtype='object')

In [158]:
X_train= train

In [166]:
X_test = test[['SibSp', 'Parch', 'FamilySize', 'Pclass_First',
       'Pclass_Second', 'Pclass_Third', 'Sex_female', 'Sex_male',
       'Fare_Very_Cheap', 'Fare_Cheap', 'Fare_Moderate', 'Fare_Costly',
       'Fare_Expensive', 'Fare_Very_Expensive', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Title_Master', 'Title_Miss', 'Title_Mr', 'Title_Mrs',
       'Title_Rare', 'Age_Range_Children', 'Age_Range_Twenties',
       'Age_Range_Grownups', 'Age_Range_Adult', 'Age_Range_Elder']]

In [167]:
from sklearn.ensemble import RandomForestClassifier

In [168]:
RFC = RandomForestClassifier(n_estimators=120, random_state=42)

In [169]:
RFC.fit(X_train, Y_train)

RandomForestClassifier(n_estimators=120, random_state=42)

In [170]:
predictRFC = RFC.predict(X_test)

In [171]:
submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": predictRFC
    })

submission.to_csv('RandomForestClassifier.csv', index=False)

In [172]:
from sklearn.linear_model import LinearRegression

linear_regressor = LinearRegression()
linear_regressor.fit(X_train, Y_train)

prediction = linear_regressor.predict(X_test)
prediction = [1 if p>0.5 else 0 for p in prediction]

submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": prediction
    })

submission.to_csv('LinearRegression2.csv', index=False)

In [173]:
from sklearn.svm import SVC

svm_clf = SVC(gamma="auto")
svm_clf.fit(X_train, Y_train)

SVC(gamma='auto')

In [174]:
prediction = svm_clf.predict(X_test)

submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": prediction
    })

submission.to_csv('SVC.csv', index=False)

In [175]:
from sklearn.linear_model import LogisticRegression

linear_regressor = LogisticRegression()
linear_regressor.fit(X_train, Y_train)

prediction = linear_regressor.predict(X_test)

submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": prediction
    })

submission.to_csv('LogisticRegression.csv', index=False)

In [176]:
from xgboost import XGBClassifier

xgb = XGBClassifier(n_estimators=120, use_label_encoder = False)
xgb.fit(X_train, Y_train)

predictedxgb = xgb.predict(X_test)

submission = pd.DataFrame({
        "PassengerId": test["PassengerId"],
        "Survived": predictedxgb
    })

submission.to_csv('XGBClassifier2.csv', index=False)

[17:04:45] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.